/*
   Set the default text formatting
 */
body
{
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000000;
  }

/*
   Main text sections (i.e. the main page content)
   Restricted to max width to prevent it going to the full width
   of a window when the window is extended.
   */
div.book p, 
div.section p, 
div.chapter p,
div.appendix p,
div.preface p
{
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  display: block;
  max-width: 720px;
  }

div.book A:Link, 
div.chapter A:Link, 
div.section A:Link,
div.appendix A:Link,
div.preface A:Link
{
  text-decoration: underline;
  color: #00759f;
  }

div.book A:Visited, 
div.chapter A:Visited, 
div.section A:Visited,
div.appendix A:Visited,
div.preface A:Visited
{
  text-decoration: underline;
  color: rgb(1,90,132);
  }

div.toc A.tocdetail
{
  text-decoration: none;
  }

/* Default font for all headers */
div.part h1,
div.chapter h1, div.section h1, div.appendix h1, div.preface h1,
div.chapter h2, div.section h2, div.appendix h2, div.preface h2,
div.chapter h3, div.section h3, div.appendix h3, div.preface h3,
div.chapter h4, div.section h4, div.appendix h4, div.preface h4,
div.chapter h5, div.section h5, div.appendix h5, div.preface h5,
div.chapter h6, div.section h6, div.appendix h6, div.preface h6,
div.chapter p.title
{
  font-family: Helvetica, Arial, sans-serif;
  }

/* Explicit definitions for command elements within a title */
div.part h1 strong.command,
div.chapter h1 strong.command, div.section h1 strong.command,
div.chapter h2 strong.command, div.section h2 strong.command,
div.chapter h3 strong.command, div.section h3 strong.command,
div.chapter h4 strong.command, div.section h4 strong.command,
div.chapter h5 strong.command, div.section h5 strong.command,
div.chapter h6 strong.command, div.section h6 strong.command,
span.section a span strong.command, span.chapter a span strong.command,
div.chapter p.title strong.command
{
  color: #990000;
  background-color: white;
  font-style: oblique;
  font-weight: normal;
  font-family: "Courier New", Courier, fixed, monospace;
  font-size: 120%;
  }

/* Explicit definitions for literals within a title */
div.part h1 code.literal, div.chapter h1 code.literal,
div.section h1 code.literal, div.chapter h2 code.literal,
div.section h2 code.literal, div.chapter h3 code.literal,
div.section h3 code.literal, div.chapter h4 code.literal,
div.section h4 code.literal, div.chapter h5 code.literal,
div.section h5 code.literal, div.chapter h6 code.literal,
div.section h6 code.literal, span.section a span code.literal,
span.chapter a span code.literal, div.chapter p.title code.literal
{
  color: #026789;
  background-color: white;
  font-weight: bold;
  font-family: "Courier New", Courier, fixed, monospace;
  font-size: 120%;
  }

/* Inline code (literal/option/command) */
div.chapter code,div.section code
{
  color: #0e4075;
  background-color: white;
  font-weight: normal;
  font-family: "Courier New", Courier, fixed, monospace;
  font-size: 95%;
  }

div.book a code, 
div.chapter a code, 
div.section a code
{
  text-decoration: underline;
  }

div.chapter pre, 
div.section pre
{
  color: #a1520f;
  background-color: white;
  font-family: "Courier New", Courier, fixed, monospace;
  font-size: 95%;
  }

div.chapter sup, 
div.section sup, 
table.topic-guide td sup
{
  vertical-align: super;
  font-size: smaller;
  }

.type
{
  font-family: "Courier New", Courier, fixed, monospace;
  font-size: 95%;
  }

/* Titles in variable list (from glossary) need to be increased
   to differentiate from the term titles
   For consistency, letter headings in indexes are given the same
   style */

div.variablelist p.title b,
div.index div.index div.indexdiv h3
{
  font-size: 200%;
  color: #026789;
}

/* Override title formatting for figure titles */
div.figure p.title b {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%;
  font-weight: bold;
  font-style: normal;
  color: black;
}

/* Page (chapter/section) title */
div.part h1, 
div.chapter h1, 
div.book div.titlepage h1.title
{
  font-family: Helvetica, Arial, sans-serif;
  font-size: 250%;
  line-height: 100%;
  font-weight: bold;
  }

div.col66 div.book div.titlepage h1.title
{
  font-family: Helvetica, Arial, sans-serif;
  font-size: 150%;
  font-weight: bold;
  }

/* Set the size for sub-headings on a single page */
div.book div.titlepage h2,
div.chapter div.titlepage h2,
div.appendix div.titlepage h2,
div.preface div.titlepage h2
{
  font-family: Helvetica, Arial, sans-serif;
  font-size: 200%;
  font-weight: normal;
  color: black;
  background-color: white;
  }

div.section div.titlepage h2
{
  font-size: 180%;
  font-weight: bold;
  color: black;
  background-color: white;
  }

div.section div.titlepage h3
{
  font-size: 160%;
  font-weight: bold;
  color: black;
  background-color: white;
  }

div.section div.titlepage h4
{
  font-size: 140%;
  font-weight: bold;
  color: black;
  background-color: white;
  }

div.section div.titlepage h5
{
  font-size: 120%;
  font-weight: bold;
  color: black;
  background-color: white;
  }

div.section div.titlepage h6
{
  font-weight: normal;
  color: black;
  background-color: white;
  }

/*
   These are inline elements for corresponding inline
   fragments. I.e. <errorcode>, <errorname>, etc.
   */
.errorcode
{
  font-family: "Courier New", Courier, fixed, monospace;
  font-weight: normal;
  color: #7b3d23;
  background-color: white;
  }

.errorname
{
  font-family: "Courier New", Courier, fixed, monospace;
  font-weight: bold;
  color: #7b3d23;
  background-color: white;
  }

.errortext
{
  font-family: "Courier New", Courier, fixed, monospace;
  font-weight: normal;
  color: #7b3d23;
  background-color: white;
  }

.errortype
{
  font-family: "Courier New", Courier, fixed, monospace;
  color: #7b3d23;
  background-color: white;
  font-style: italic;
  }

/* Font size for the headline of an admonition 
   */

div.warning div.admon-title, 
div.warning h3, 
div.note div.admon-title, 
div.note h3, 
div.important div.admon-title, 
div.important h3, 
div.caution div.admon-title, 
div.caution h3
{
  font-family: Helvetica, Arial, sans-serif;
  font-size: 90%;
  font-weight: bold;
  }

div.note
{
  border-left: 5px solid black;
  padding-left: 5px;
  margin-right: 1in;
  }

div.warning
{
  border-left: 5px solid red;
  padding-left: 5px;
  margin-right: 1in;
  }

div.caution
{
  border-left: 5px solid yellow;
  padding-left: 5px;
  margin-right: 1in;
  }

div.important
{
  border-left: 5px solid maroon;
  padding-left: 5px;
  margin-right: 1in;
  }

/* Formatting for <formalpara role="mnmas"> */
p.mnmas b
{
  display: block;
  color: green;
  background-color: white;
  }

p.mnmas
{
  color: green;
  background-color: white;
  border: 1px solid green;
  border-left: 5px solid green;
  padding-left: 5px;
  }

/* Formatting for <formalpara role="mnmas-kb"> */
p.mnmas-kb b
{
  display: block;
  color: #6633cc;
  background-color: white;
  }

p.mnmas-kb
{
  color: #6633cc;
  background-color: white;
  background-color: white;
  border: 1px solid green;
  border-left: 5px solid green;
  padding-left: 5px;
  }

/* Formatting for <formalpara role="mccge-warning"> */
p.mccge-warning b
{
  padding-right: 0.5em;
  }

p.mccge-warning
{
  color: blue;
  background-color: white;
  border: 1px solid blue;
  border-left: 5px solid blue;
  padding-left: 5px;
  }

/* Formatting for <formalpara role="depnote"> */
p.depnote b
{
  display: block;
  color: red;
  background-color: white;
  }

p.depnote
{
  color: red;
  background-color: white;
  border: 1px solid red;
  border-left: 5px solid red;
  padding-left: 5px;
  }

/*
   Program listings have a grey background to set them off from the
   rest of the page. We limit the width to ensure a program listing
   item doesn't go too wide on the page. Font size is reduced to
   prevent the code is not badly matched.
   */
div.preface pre.programlisting, 
div.chapter pre.programlisting, 
div.appendix pre.programlisting, 
div.section pre.programlisting
{
  background: #eeeeee;
  color: black;
  display: block;
  max-width: 720px;
  line-height: 20px;
  font-size: 13px;
  padding: 2px;
  }

/*
   Gui Buttons are made to look like a button with a border,
   sans font, and background.
   */
.guibutton
{
  font-family: Helvetica, Arial, sans-serif;
  background: #ffffff;
  color: black;
  display: inline;
  border: 1px double #000000;
  padding: 1px;
  line-height: 1.2em;
  white-space: nowrap;
  }

/* Gui Labels are made to look like a label */
.guilabel
{
  font-family: Helvetica, Arial, sans-serif;
  background: #dddddd;
  color: black;
  font-weight: bold;
  display: inline;
  padding: 1px;
  line-height: 1.2em;
  white-space: nowrap;
  }

/*
   Gui menu items are made to look like a menu item with
   border and bold font
   */
.guimenu
{
  font-family: Helvetica, Arial, sans-serif;
  background: #dddddd;
  color: black;
  font-weight: bold;
  border-left: 4px solid #555555;
  display: inline;
  padding: 1px;
  padding-left: 4px;
  line-height: 1.2em;
  white-space: nowrap;
  }

/* Key caps are made to look like a key top */
strong.keycap
{
  background: #eeeeee;
  color: black;
  display: inline;
  border: 1px solid #000000;
  font-variant: small-caps;
  padding: 1px;
  line-height: 1.2em;
  }

/* Unknown and unfound in transformations */
#subfld h1
{
  font-size: 90%;
  font-weight: bold;
  }

/* Formatting for <command> elements */
span.section a span strong.command, 
strong.command
{
  color: #990000;
  background-color: white;
  font-weight: normal;
  font-style: oblique;
  font-size: 110%;
  }

/* Formatting for <literal> elements within headers */
dt span code
{
  font-weight: bold;
  }

/*
   We reduce the size for code (inline) literal elements
   so that the fixed width font doesn't look bigger than
   the text around it.
   */
code
{
  font-size: 95%;
  }

/* Prevent <emphasis role="bold"> in <code> from looking too out of place */
p strong code
{
  font-size: 95%;
  font-weight: normal;
  }

pre strong code
{
  font-weight: normal;
  font-size: 100%;
  }

/* Make standard emphasis 100%, since italics make the text appear smaller */
em
{
  font-style: italic;
  font-size: 100%;
  }

/* Make emphasis in fixed fonts up from the reduced size */
em code
{
  font-size: 110%;
  }

/* Ensure emphasis embedded in code exactly 100% */
code em code
{
  font-size: 100%;
  }

/* Set the font for <type> to fixed font */
span.type
{
  font-family: "Courier New", Courier, fixed, monospace;
  }

/* Italic and bold for emphasis role="bold" */
span.bold strong
{
  font-style: italic;
  font-weight: bold;
  }

/* Italic for standard emphasis */
span.emphasis em
{
  font-style: italic;
  font-weight: normal;
  }

/* Monospace bold for emphasis role="bold" within top-level sections */
span.section span strong.command
{
  font-family: "Courier New", Courier, fixed, monospace;
  font-weight: bold;
  font-size: 110%;
  }

/* Set inline code elements in titles within TOC */
span.section code.literal, 
div.section code.literal, 

/* div.chapter code.literal line added by Stefan 2013-02-19, to fix a non-boldedness issue in the MySQL topic guides.
   This shouldn't affect any other books, but if it does, this comment should make it easy to find the culprit. */
div.chapter code.literal,
div.section code.classname, 
div.example code.literal,
{
  font-family: "Courier New", Courier, fixed, monospace;
  font-weight: bold;
  color: #026789;
  background-color: white;
  font-size: 95%;
  }

/* Stop example-break from displaying after examples */
.example-break
{
  display:none;
}

/*
   Set the size of code literals within table cells to 100%,
   because the difference in font size wont be so significant.
   */
td code.literal
{
  font-size: 100%;
  }

/* Formatting for deprecated warnings */
p.deprecated span.bold strong
{
  color: red;
  background-color: white;
  font-weight: bold;
  font-style: normal;
  }

/*
   Ensure code elements in headers are the same size as the other
   text, because the increased size on headers lessens the normal
   effect of fixed vs normal fonts
   */
div.section div.titlepage h1 code, 
div.section div.titlepage h2 code,
div.section div.titlepage h3 code, 
div.section div.titlepage h4 code,
div.section div.titlepage h5 code, 
div.section div.titlepage h1 code
{
  font-size: 100%;
  }

/* <command> block formatting; color, size and monospace */
strong.command
{
  font-family: "Courier New", Courier, fixed, monospace;
  font-size: 100%;
  color: #990000;
  font-weight: normal;
  }

/* <replaceable> sets replaceable text to bold */
em.replaceable code,
pre.programlisting em.replaceable code
{
  color: inherit;
  font-weight: bold;
  background-color: inherit;
  padding: 1px;
  }

/* <userinput> sets user input text to bold */
strong.userinput code,
pre.programlisting strong.userinput code
{
  color: inherit;
  font-weight: bold;
  background-color: inherit;
  padding: 1px;
  }

/* <filename> sets different color */
p code.filename
{
  color: #990000;
  background-color: white;
  }

/* <emphasis role="bold"> */
span.emphasis em
{
  color: #003333;
  background-color: white;
  }

span.bold strong
{
  color: #003333;
  background-color: white;
  }

span.section span strong.command
{
  color: #026789;
  background-color: white;
  }

/*
   Reset the color of <literal> and other inline monospace
   formatting for sub-level headings in the page. Without this
   setting, the color coded formatting of the monospace elements
   is too strong
   */

h3.title code.literal
{
  color: black;
  background-color: white;
  }

/*
   Set the maximum width of a table or informaltable to slightly
   less than the width of the page
   */

div.section table, 
div.chapter table, 
div.informaltable table
{
  max-width: 660px;
  border: none;
  }

/* Always align content to the top of the row */
table tr
{
  vertical-align: top;
  }

/*
   Use outset borders and reduce the font width for all
   table cell data
   */
td
{
  font-family: Helvetica, Arial, sans-serif;
  font-size: 95%;
  padding: 0px 5px 0px 5px;
  border: outset 0.1em gray;
  }

/* Table row header formatting */
th, 
div.informaltable td strong
{
  font-family: Helvetica, Arial, sans-serif;
  color: black;
  background-color: white;
  font-weight: bold;
  font-style: normal;
  }

/*
   Set minimun/maximum width of para, programlisting and tables
   when working on 2/3rd width elements
   */
div.col66 p, 
div.col66 pre.programlisting, 
div.col66 table, 
div.col66 div.informaltable table
{
  min-width: 600px;
  max-width: 660px;
  }

/* Override the formatting for 'quote' elements */
div.section span.quote,
div.section .quote,
div.appendix span.quote,
div.appendix .quote,
div.chapter span.quote,
div.chapter .quote,
div.book span.quote,
div.book .quote,
div.section div.itemizedlist ul li p span.quote,
div.section div.itemizedlist ul li p .quote
{
  border: 0px;
  padding: 0px;
  margin: 0px;
  width: 100%;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  }

/*
   We explicitly set lists at all levels to get the formatting right and override
   the inherited styles
   */

/*
   Bullet styles (by level/order): disc, square, circle, ...
   Order styles  (by level/order): decimal, lowercase-alpha, roman, ...
   */

/* Bulleted list */
div.itemizedlist ul li
{
  font-size: 14px;
  list-style-position: outside;
  list-style-image: none;
  list-style-type: disc;
  vertical-align: middle;
  line-height: 120%;
  }

/* 2nd level Bulleted list */

div.itemizedlist ul li div.itemizedlist ul li,
div.orderedlist ol li div.itemizedlist ul li
{
  font-size: 14px;
  list-style-position: outside;
  list-style-image: none;
  list-style-type: square;
  vertical-align: middle;
  line-height: 120%;
  }

/* 3rd level Bulleted list */
div.itemizedlist ul li div.itemizedlist ul li div.itemizedlist ul li,
div.itemizedlist ul li div.orderedlist ol li div.itemizedlist ul li,
div.orderedlist ol li div.itemizedlist ul li div.itemizedlist ul li,
div.orderedlist ol li div.orderedlist ol li div.itemizedlist ul li
{
  font-size: 14px;
  list-style-position: outside;
  list-style-image: none;
  list-style-type: circle;
  vertical-align: middle;
  line-height: 120%;
  }

/* 4th level Bulleted list */
div.itemizedlist ul li div.itemizedlist ul li div.itemizedlist ul li div.itemizedlist ul li,
div.itemizedlist ul li div.itemizedlist ul li div.orderedlist ol li div.itemizedlist ul li,
div.itemizedlist ul li div.orderedlist ol li div.itemizedlist ul li div.itemizedlist ul li,
div.itemizedlist ul li div.orderedlist ol li div.orderedlist ol li div.itemizedlist ul li
div.orderedlist ol li div.itemizedlist ul li div.orderedlist ol li div.itemizedlist ul li,
div.orderedlist ol li div.orderedlist ol li div.itemizedlist ul li div.itemizedlist ul li,
div.orderedlist ol li div.orderedlist ol li div.orderedlist ol li div.itemizedlist ul li
{
  font-size: 100%;
  list-style-position: outside;
  list-style-image: none;
  list-style-type: disc;
  vertical-align: middle;
  line-height: 120%;
  }

/* Ordered list */
div.orderedlist ol li
{
  font-size: 14px;
  font-family: Helvetica, Arial, sans-serif;
  list-style-position: outside;
  list-style-image: none;
  list-style-type: decimal;
  vertical-align: middle;
  line-height: 120%;
  }

/* 2nd level Ordered list */
div.itemizedlist ul li div.orderedlist ol li,
div.orderedlist ol li div.orderedlist ol li
{
  font-size: 14px;
  font-family: Helvetica, Arial, sans-serif;
  list-style-position: outside;
  list-style-image: none;
  list-style-type: lower-alpha;
  vertical-align: middle;
  line-height: 120%;
  }

/* 3rd level Ordered list */
div.itemizedlist ul li div.itemizedlist ul li div.orderedlist ol li,
div.itemizedlist ul li div.orderedlist ol li div.orderedlist ol li,
div.orderedlist ol li div.itemizedlist ul li div.orderedlist ol li,
div.orderedlist ol li div.orderedlist ol li div.orderedlist ol li
{
  font-size: 14px;
  font-family: Helvetica, Arial, sans-serif;
  list-style-position: outside;
  list-style-image: none;
  list-style-type: lower-roman;
  vertical-align: middle;
  line-height: 120%;
  }

/* 4th level Ordered list */
div.itemizedlist ul li div.itemizedlist ul li div.itemizedlist ul li div.orderedlist ol li,
div.itemizedlist ul li div.itemizedlist ul li div.orderedlist ol li div.orderedlist ol li,
div.itemizedlist ul li div.orderedlist ol li div.itemizedlist ul li div.orderedlist ol li,
div.itemizedlist ul li div.orderedlist ol li div.orderedlist ol li div.orderedlist ol li
div.orderedlist ol li div.itemizedlist ul li div.orderedlist ol li div.orderedlist ol li,
div.orderedlist ol li div.orderedlist ol li div.itemizedlist ul li div.orderedlist ol li,
div.orderedlist ol li div.orderedlist ol li div.orderedlist ol li div.orderedlist ol li
{
  font-size: 14px;
  font-family: Helvetica, Arial, sans-serif;
  list-style-position: outside;
  list-style-image: none;
  list-style-type: decimal;
  vertical-align: middle;
  line-height: 120%;
  }

/* Section navigation is another formatted list */
ul#sectionnav
{
  margin-left: 6px;
  }

ul#sectionnav li
{
  margin-left: 4px;
  margin-bottom: 4px;
  }

ul#sectionnav li.self
{
  margin-left: 4px;
  margin-bottom: 2px;
  }

ul#sectionnav li.self ul.children
{
  margin-left: 6px;
  }

ul#sectionnav li.self ul.children li
{
  height: auto;
  line-height: inherit;
  margin-bottom: 0px;
  }

/* Formatting for <para role="es"> (Enterprise Server only) */
p.es
{
  color: #cc6600;
  background-color: white;
  font-weight: bold;
  font-style: normal;
  }

/* Formatting for <para role="cs"> (Community Server only) */
p.cs
{
  /* Community Server only */
  color: #ff6600;
  background-color: white;
  font-weight: bold;
  font-style: normal;
  }

/*
   Formatting for the list of available documents (dev.mysql.com/doc)
   starts here
   */
h2.docs-list-title
{
  font-family: Helvetica, Arial, sans-serif;
  text-decoration: underline;
  }

span.docs-list-title
{
  font-size: 50%;
  }

table.docs-document-list
{
  border-style: none;
  font-size: 12px;
  font-family: Helvetica, Arial, sans-serif;
  border: none;
  }

table.docs-document-list tr.title
{
  text-align: center;
  vertical-align: bottom;
  font-weight: bold;
  }

/*
   Formatting of odd/even rows is different to provide
   an alternate color on each row
   */
table.docs-document-list tr.even
{
  vertical-align: bottom;
  color: black;
  background-color: #efefef;
  border: 0px;
  }

table.docs-document-list tr.odd
{
  vertical-align: bottom;
  color: black;
  background-color: white;
  border: 0px;
  }

/*
   Set left/right padding only on table cells
   so that the page length is not too long
   */
table.docs-document-list td
{
  padding: 0px 5px 0px 5px;
  border: none;
  }

/*
   Title rows are aligned to bottom, not top
   to allow for multi-line headings
   */
table.docs-document-list td.title
{
  text-align: left;
  vertical-align: bottom;
  border: 0px;
  }

/*
   We fix the width of link columns to give them
   a consistent width
   */
table.docs-document-list td.link
{
  width: 70px;
  text-align: center;
  border: 0px;
  }

div.oracle-none th, div.oracle-grprows th, div.oracle-seprows th, div.oracle-all th {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%;
  font-weight: bold;
  font-style: normal;
  color: black;
  text-align: left;
  vertical-align: bottom;
  background-color: white;
  padding: 4px 8px 4px 8px;
  border: solid 0 white;
}

div.oracle-none td, div.oracle-grprows td, div.oracle-seprows td, div.oracle-all td {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%;
  font-weight: normal;
  font-style: normal;
  color: black;
  text-align: left;
  vertical-align: top;
  background-color: white;
  padding: 4px 8px 4px 8px;
  border: solid 0 white;
  }

div.oracle-none p, div.oracle-grprows p, div.oracle-seprows p, div.oracle-all p {
  margin: 4px 0 4px 0;
}

div.oracle-none p.title, div.oracle-grprows p.title, div.oracle-seprows p.title, div.oracle-all p.title {
  margin: 8px 0 8px 0;
}

div.oracle-none table { /* Simple table without any lines */
  border-collapse: collapse;
  border-spacing: 0;
  border: solid 0 white;
}

div.oracle-grprows table { /* Lines above and below header and after last row */
  border-collapse: collapse;
  border-spacing: 0;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid white;
  border-right: 1px solid white;
}

div.oracle-grprows tr {
  border: solid 0 white;
}

div.oracle-grprows th {
  border-left-style: hidden;
  border-right-style: hidden;
  border-bottom: 1px solid black;
}

div.oracle-grprows td {
  border-left-style: hidden;
  border-right-style: hidden;
}

div.oracle-seprows table { /* Lines above header and after every row */
  border-collapse: collapse;
  border-spacing: 0;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid white;
  border-right: 1px solid white;
}

div.oracle-seprows tr {
  border-left-style: hidden;
  border-right-style: hidden;
  border-bottom: 1px solid black;
}

div.oracle-seprows th {
  border-left-style: hidden;
  border-right-style: hidden;
  border-bottom: 1px solid black;
}

div.oracle-seprows td {
  border-left-style: hidden;
  border-right-style: hidden;
  border-bottom: 1px solid black;
}

div.oracle-all table { /* Lines around table and between every row and column */
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid black;
}

div.oracle-all th {
  border: 1px solid black;
}

div.oracle-all td {
  border: 1px solid black;
}

/* Footnotes in tables have a reduced paragraph gap */
div.footnote p
{
  line-height: 125%;
  height: 100%;
  margin-bottom: 0px;
  font-size: 95%;
  margin-top: 5px;
  }

/* Superscript should have an additional margin to improve readability */
td span.bold strong sup, 
td sup
{
  margin-left: 3px;
  font-weight: normal;
  }

/* The topic table should have slightly smaller text */
table.topic-guide tbody tr td
{
  text-align: center;
  font-size: 80%;
  line-height: 180%;
  }

/* The copyright footer and beta draft header have centered text */
div.copyright-footer, 
div.status-header
{
    text-align: center;
    padding: 10px;
    margin: 5px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 80%;
}
/* Beta draft header and Oracle confidential footer */
.alert
{
    font-weight: bold;
    color: red;
}

/* Terms in a Glossary list are bold */
span.term
{
  font-weight: bold;
}

/* Elements for the revisionflag attribute */
.added 
{
    background-color: yellow;
}

.deleted 
{
    background-color: pink; 
}

.changed
{
    background-color: green;
}


/*  Keep global th rule from rendering 'table-contents' and 'informaltable'   */
/*  table header cell borders invisible... Also add a bit of padding to       */
/*  alleviate crowding.                                                       */

div.table-contents th, div.informaltable th 
{
  border: 0.1em solid grey; 
  padding: 3px; 
  margin: 0;
}

/* 
  The following formats the front page of articles (not any subsequent pages), 
  in order to work around a couple of glitches in the site-wide CSS of dev.mysql.com:
	- "Resets" the font size in paragraphs to "normal" (100%);
	  not setting the text explicitly to 100% would result 
	  in the text being smaller on the front page.
	- Sets the font size of the article title to 250% explicitly, 
	  which matches the font size of book titles.
	- Sets the font size of the word "Abstract" a tad bigger (120%) 
	  than it's set for book.
	- Sets the font size of subtitles a tad smaller than the word "Abstract",
	  and a tad bigger than the continuous text. Note that this should affect 
	  only subtitles that sit in an <articleinfo>.
  The formatting shouldn't affect any articles we publish, except the ones on
  dev.mysql.com.
*/
div.article h2.title { 
  font-size: 250%; }
div.article p.title { 
  font-size: 120%; }
div.article h2.subtitle { 
  font-size: 110%; }
div.article p { 
  font-size: 100%; }
